body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form-control {
}

.form-title {
  margin-left: 1rem;
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0rem;
  padding: 0rem;
}
