body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form-control {
}

.form-title {
  margin-left: 1rem;
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0rem;
  padding: 0rem;
}

.all-products{
  display: flex;
  justify-content: center;

}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: groove;
  border-radius: 8px 8px 8px 8px;
  flex-basis: calc(25% - 40px);
  margin: 10px;
}

.container img{
  width: 25%;
  height: auto;
}

.add-to-btn{

}
.add-to-btn:hover{

}
.add-to-btn:visited{

}
