body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
#empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}
.form-control {
}

.form-title {
  margin-left: 1rem;
}

.logo {
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 0rem;
  padding: 0rem;
}

.all-products {
  display: flex;
  justify-content: center;
}
.products{
  flex-direction: column;
  border-style: groove;
  border-radius: 8px 8px 8px 8px;
  flex-basis: calc(25% - 40px);
  margin: 10px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img{
  width: 25%;
  height: auto;
}

.all-cart{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart {
  flex-direction: row;
  border-style: groove;
  width: 40%;
  height: auto;
  flex-basis: calc(25% - 40px);
}

.cart img{
  width: 10%;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
}
.cart p {
  margin-left: 5px;
  margin-right: 5px;
}
.cart label{
  margin-left: 5px;
  margin-right: 5px;
}
.cart button{
  margin-left: 5px;
  margin-right: 5px;
}
#subtotal{
  text-align: right;
}
.add-to-btn{

}
.add-to-btn:hover {
}
.add-to-btn:visited {
}

.product-detail img {
  max-width: 50%;
  height: auto;
}
